*{
  margin: 0;
  padding:0;
}
body{
  height: 100vh;
  background: #0d6ea3;
  color: white;
  font-family: 'outfit';
}
/* body {
  height: 100vh;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  color: white;
  font-family: 'Outfit', sans-serif;
} */